html(lang="en")
    head
        title Member page
    body  
        
        include ./header
        
        h1 Member: #{member.fname} #{member.lname} 

        h3 Profile

        p First name: #{member.fname}
        p Last name: #{member.lname}
        p Email: #{member.email}
        p Phone number: #{member.phone_number}
        p Gender: #{member.gender}
        br

        h3 #{member.fname}'s Fitness Goals 

        if (fitness)
            
            if (fitness.goal_weight != null)
                p Goal weight: #{fitness.goal_weight} lb
            else 
                p Goal weight:
            
            if (fitness.goal_calories != null)
                p Goal calories consummed per day: #{fitness.goal_calories}
            else 
                p Goal calories consummed per day:

            if (fitness.goal_sleep != null)
                p Goal amount of sleep per night: #{fitness.goal_sleep} Hours
            else 
                p Goal amount of sleep per night:

        else 
            p Goal weight:
            p Goal calories consummed per day:
            p Goal amount of sleep per night:
        
        br

        h3 #{member.fname}'s Health Metrics 

        if (health)
            if (health.hours_slept)
                p Hours of sleep: #{health.hours_slept}
            else 
                p Hours of sleep:
            
            if (health.curr_weight)
                p Current weight: #{health.curr_weight} lb
            else 
                p Current weight:
            
            if (health.height)
                p Height: #{health.height} cm
            else 
                p Height:
            
            if (health.calories_consummed)
                p Calories consummed: #{health.calories_consummed}
            else 
                p Calories consummed:

        else 
            p Hours of sleep:
            p Current weight:
            p Height:
            p Calories consummed:

        br
