html(lang="en")
    head
        title Member page
    body  
        
        include ./header
        
        h1 Member: #{member.fname} #{member.lname} 

        h3 Profile

        p First name: #{member.fname}
        p Last name: #{member.lname}
        p Email: #{member.email}
        p Phone number: #{member.phone_number}
        p Gender: #{member.gender}
        br

        h3 #{member.fname}'s Fitness Goals 

        p Goal weight: #{fitness.goal_weight} lb
        p Goal calories consummed per day: #{fitness.goal_calories}
        p Goal amount of sleep per night: #{fitness.goal_sleep} Hours
        br

        h3 #{member.fname}'s Health Metrics 

        p Hours of sleep: #{health.hours_slept}
        p Current weight: #{health.curr_weight} lb
        p Height: #{health.height} cm
        p Calories consummed: #{health.calories_consummed}
        br
