html(lang="en")
    head
        title Member Dashboard
    body  
        
        include ./header
        
        h1 #{session.user.fname}'s Dashboard

        h3 #{session.user.fname}'s Health Statistics 

        p Average hours of sleep per night: #{health.sleep} 
        p Average weight so far: #{health.weight} 
        p Average calory intake per day: #{health.calories}