html(lang="en")
    head
        title Member profile
    body  
        
        include ./header
        
        h1 #{member.fname}'s Profile

        p First name: #{member.fname}
        p Last name: #{member.lname}
        p Email: #{member.email}
        p Phone number: #{member.phone_number}
        p Gender: #{member.gender}

        h2 Update Profile 
        