html(lang="en")
    head
        title Payments page
    body  
        
        include ./header
        style.
            table {
                border-collapse: collapse;
                width: 75%;
            } th, td {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
            } .link {
                background: none;
                border: none;
                color: blue;
                text-decoration: underline;
                font-size: 1em;
                font-family: serif;
            }

        h2 Bills
        |
        form(action=`/member/billing` method="post")
            table   
                thead 
                    tr
                        th Day
                        th Start Time
                        th End Time
                        th Trainer
                        th Billing Type
                        th Room Number
                        th Price (CAD)
                
                tbody
                    if memberFees && memberFees.length > 0
                        each item in memberFees
                            tr 
                                td #{item.day}
                                td #{item.start_time}
                                td #{item.end_time}
                                td #{item.fname} #{item.lname}                                                  
                                td #{item.session_type}                               
                                td #{item.room_num}
                                td $ #{item.fee}.00 

                              
            if (totalSum)
                h3 Total: $#{totalSum.total}
            else 
                h3 Total: $0.00

            button(type="submit") Pay Bills
