html(lang="en")
    head
        title Member Schedule
    body  
        
        include ./header

        style.
            table {
                border-collapse: collapse;
                width: 75%;
            }
            th, td {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
            }#addBtn {
                margin-right: 10px; 
            }

        h1 #{session.user.fname} #{session.user.lname}
        
        h2 Schedule 
        form(action=`/member/schedule` method="post")
            table
                thead 
                    tr
                        th Day
                        th Start Time
                        th End Time
                        th Session Type
                        th Trainer
                        th Room Number
                        th Paid
                        

                tbody
                    if schedule && schedule.length > 0
                        each sched in schedule
                            tr 
                                td #{sched.day}
                                td #{sched.start_time}
                                td #{sched.end_time}
                                td #{sched.session_type}
                                td #{sched.fname} #{sched.lname}                                        
                                td #{sched.room_num}
                                td 
                                    if sched.paid 
                                        p Paid 
                                    else if sched.bill_id
                                        p Not paid 
                                     
                                    
                        
                            
                                td
                                    input(type='checkbox' name='deleteBox' value=sched.schedule_id)
                                    label(for='checkbox') &nbsp;&nbsp;Cancel Session
            
            br
            button#addBtn(type="button" name="addBtn") Add Session
            button(type="submit" name="save" class="link") Save Edits
        
            script(src="/js/memberSchedule.js")