html(lang="en")
    head
        title Member page
    body  
        
        include ./header
        
        h1 Welcome back #{session.user.fname} #{session.user.lname} !

        h3 #{session.user.fname}'s Profile

        p First name: #{session.user.fname}
        p Last name: #{session.user.lname}
        p Email: #{session.user.email}
        p Phone number: #{session.user.phone_number}
        p Gender: #{session.user.gender}

        h3 #{session.user.fname}'s Fitness Goals 

        p Goal weight: #{fitness.goal_weight}
        p Goal running distance: #{fitness.distance}
        p Goal running time: #{fitness.goal_time}

        h3 #{session.user.fname}'s Health Metrics 

        p Hours of sleep: #{health.hours_slept}
        p Current weight: #{health.curr_weight}
        p Height: #{health.height}
        p Calories consummed: #{health.calories_consummed}
