html(lang="en")
    head
        title Payments page
    body  
        
        include ./header
        style.
            table {
                border-collapse: collapse;
                width: 75%;
            }
            th, td {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
            }

        h2 Payments Due
        |
        table
            thead 
                tr
                    th Member
                    th Member Fee
                    th Group Class Fee
                    th Private Class Fee                    

            tbody
                if schedule && schedule.length > 0
                    each sched in schedule
                        tr 
                            td #{sched.day}
                            td #{sched.start_time}
                            td #{sched.end_time}
                            td #{sched.session_type}

                            td
                                if classes && classes.length > 0
                                    each item in classes     

                                        if item.schedule_id === sched.schedule_id
                                            - var n = 0
                                            each id in item.ids
                                                if n > 0
                                                    br 
                                                a(href=`/member/${id}`) #{item.members[n++]}
                                                br       
                                
                            td #{sched.room_num}
                           
                            td
                                a(href=`/editSession/${sched.schedule_id}`) billing history
                            td
                                a(href=`/editSession/${sched.schedule_id}`) process payment